body {
  font-family: iransans !important;
  direction: rtl;
}

@font-face {
  font-family: iransans;
  src: url(../public/fonts/IRANSans/IRANSans\ Regular/IRANSansRegular.ttf)
    format("truetype");
}
.text_transition_main:hover {
  font-weight: 600;
  transition: 0.1s;
}
.text_transition_sub:hover {
  font-weight: 600;
  transition: 0.1s;
  color: #212121;
}
.text_active_main {
  font-weight: 600 !important;
  transition: 0.1s;
}
.text_active_sub {
  font-weight: 600 !important;
  transition: 0.1s;
  color: #212121;
}
